<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/output.css">
    <link rel="stylesheet" href="~/css/landing.css">
</head>

<body class="font-[Poppins]">
    <header class="px-8 py-5 shadow-md bg-white header">
        <nav class="flex items-center justify-between">
            <!-- Logo -->
            <a href="/home" class="block">
                <img src="~/images/subvi-logo.png" class="h-12" alt="Subvi Logo">
            </a>
            <!-- Buttons -->
            <div class="flex space-x-10">
                <a href="/home" class="text-blue-800 text-lg font-semibold nav-item" id="nav-home">Home</a>
                <a href="/about-us" class="text-blue-800 text-lg font-semibold nav-item" id="nav-about">About Us</a>
                <a href="/contacts" class="text-blue-800 text-lg font-semibold nav-item" id="nav-contacts">Contacts</a>
                <a><button onclick="openLoginModal()" class="text-blue-800 text-lg font-semibold nav-item">Log In</button></a>
                <a><button onclick="openSignupModal()" class="block bg-[#1E3A8A] text-white py-2 px-8 rounded-lg text-center nav-button shadow-md">Sign Up</button></a>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <div id="loading-screen" class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-white" style="z-index: 1050; display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="~/js/typingeffect.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/signup.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/loading-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            duration: 800, // Animation duration in milliseconds
            once: false, // Only animate once
            mirror: true
        });
    </script>

 @*   <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>*@
    
</body>
</html>