<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Subvi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/output.css">
</head>
<body class="bg-gray-100">
    <div class="flex">
        @await Html.PartialAsync("_Sidebar")
        <main class="p-4 flex-1">
            @RenderBody()
        </main>
    </div>
</body>
</html>
